.about__container {
    justify-content: space-around;
    text-align: center;
}

.about__title {
    font-size: 255%;
    color: #789ac4;
}

.about__tagline {
    padding-left: 45%;
    font-size: 120%;
}

.about__card {
    display: flex;
    border: 5px solid #87aed4;
    background-color: #87aed4;
    border-radius: 20px;
    padding: 10%;
}

.about__card-description {
    display: flex;
    flex-direction: column;
}

.about__card-list {
    list-style-type: none;
}

.heading-black {
    color: #2E3440;
}

.body-light-black {
    color: #3B4252;
}

.text-underline {
    text-decoration: underline;
}