.scrollbar__card {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #d6ebf1;
    border-radius: 10px;
}

.scrollbar__card-neuron {
    height: 55px;
    width: 55px;
}